@font-face {
  font-family: 'DINPro Black';
  src: url('https://cdn-wmi-assets.s3.amazonaws.com/fonts/DINPro-Black.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Bold';
  src: url('https://cdn-wmi-assets.s3.amazonaws.com/fonts/DINPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Light';
  src: url('https://cdn-wmi-assets.s3.amazonaws.com/fonts/DINPro-Light.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Medium';
  src: url('https://cdn-wmi-assets.s3.amazonaws.com/fonts/DINPro-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro Regular';
  src: url('https://cdn-wmi-assets.s3.amazonaws.com/fonts/DINPro-Regular.otf') format('opentype');
}
