<template>
  <v-layout
    text-xs-center
    wrap
    class="header bg-gradient-gray"
    style="padding-top: 70px;"
  >
    <v-flex
      align-start
    >
      <h2 class="header__preheading text-din-light">
        {{ header.preheading }}
      </h2>
      <h1 class="header__heading display-2 mb-3 text-din-black mt-2">
        {{ header.heading }}<sup class="header__small text-din-light">{{ header.small }}</sup>
      </h1>
      <h3 class="header__subheading text-din-medium">
        {{ header.subheading }}
      </h3>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Header',
    components: {
    },
    data: () => ({
      header: {
        preheading: 'The 2018',
        heading: 'USA FUN-FINDER',
        small: '™',
        subheading: 'CHOOSE AN EVENT, GET A CAR-MATCH!',
      },
    })
  }
</script>

<style lang="scss" scoped>
  .bg-gradient-gray {
    background: -moz-linear-gradient(45deg, rgba(239,239,240,1) 0%, rgba(255,255,255,0.55) 45%, rgba(255,255,255,0) 100%); 
    background: -webkit-linear-gradient(45deg, rgba(239,239,240,1) 0%,rgba(255,255,255,0.55) 45%,rgba(255,255,255,0) 100%); 
    background: linear-gradient(45deg, rgba(239,239,240,1) 0%,rgba(255,255,255,0.55) 45%,rgba(255,255,255,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeff0', endColorstr='#00ffffff',GradientType=1 ); 
  }
  .header__small {
    font-size: .579rem;
    vertical-align: super;
  }
</style>