<template>
  <v-layout
    text-xs-center
    wrap
    pa-3
    xs12
    class="search"
  >
    <h4
      class="text-uppercase"
    >
      Find Your City
    </h4>
    <v-flex xs12>
      <v-text-field
        v-model="search"
        label="Search for your city..."
        color="pink"
        class="search__input"
        single-line
        append-icon="place"
      ></v-text-field>
    </v-flex>

  </v-layout>
</template>

<script>
  export default {
    name: 'Search',
    components: {
    },
    data () {
      return {
        search: 'Palm Springs, CA'
      }
    }
  }
</script>

<style lang="scss">
.search {
  max-width: 425px;
  margin: 0 auto;
}
.search__input .v-input__slot {
  padding: 0.5rem 1rem;
  border: 1px solid $grey-light;
  margin-bottom:0;
  border-bottom: 3px solid $accent;
}
.search__input .v-text-field__slot input {
  font-size: 1.75rem;
  color: $grey-medium !important;
}
</style>
